<main>
  <%- include("./create-post.ejs") %>
  <div class="post-container">
    <% messages.forEach((message) => { %>
      <div class="grid-cell">
        <article class="post
          <% if (message.user_id === user.id) { %>
            by-user
          <% } %>
        ">
          <div class="heading">
            <h5 class="title"><%= message.title %></h5>
            <form action="/delete-post" method="post">
              <button 
                class="delete-post-button"
                onclick="return confirm('Are you sure you want to delete this message ?')"  
              >
                <svg 
                  xmlns="http://www.w3.org/2000/svg" 
                  viewBox="0 0 24 24"
                  class="lucide lucide-x-icon lucide-x"
                >
                  <path d="M18 6 6 18"/>
                  <path d="m6 6 12 12"/>
                </svg>
              </button>
            </form>
          </div>
          <p class="content"><%= message.text %></p>
          <p class="username">
            <% if (message.user_id !== user.id) { %>
              @<%= message.username %> 
              <% if (message.is_admin) { %>
                <svg 
                  xmlns="http://www.w3.org/2000/svg" 
                  viewBox="0 0 24 24" 
                  class="lucide lucide-shield-icon lucide-shield"
                >
                  <path d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z"/>
                </svg>
              <% } else if (message.membership_status) { %>
                <svg 
                  xmlns="http://www.w3.org/2000/svg" 
                  viewBox="0 0 24 24" 
                  class="lucide lucide-sparkle-icon lucide-sparkle"
                >
                  <path d="M9.937 15.5A2 2 0 0 0 8.5 14.063l-6.135-1.582a.5.5 0 0 1 0-.962L8.5 9.936A2 2 0 0 0 9.937 8.5l1.582-6.135a.5.5 0 0 1 .963 0L14.063 8.5A2 2 0 0 0 15.5 9.937l6.135 1.581a.5.5 0 0 1 0 .964L15.5 14.063a2 2 0 0 0-1.437 1.437l-1.582 6.135a.5.5 0 0 1-.963 0z"/>
                </svg>
              <% } %>
              &middot;
              <% } %>
            <%= message.created_at %>
          </p>
        </article>
      </div>
    <% }) %>
  </div>
</main>