<header>
  <h1 class="brand">
    My Clubhouse
  </h1>

  <div class="account-manage">
    <% if (!locals.user) { %>
      <div class="links-section">
        <a href="/log-in">Log In</a>
        <a href="/sign-up">Sign Up</a>
      </div>
    <% } else { %>
      <div class="user-section">
        <div class="user-info">
          <p>
            <%= user.first_name %> <%= user.last_name %>
          </p>
          <p>
            @<%= user.username %>
            <% if (user.membership_status) { %>
              <svg 
                xmlns="http://www.w3.org/2000/svg" 
                viewBox="0 0 24 24" 
                class="lucide lucide-shield-icon lucide-shield"
              >
                <path d="M9.937 15.5A2 2 0 0 0 8.5 14.063l-6.135-1.582a.5.5 0 0 1 0-.962L8.5 9.936A2 2 0 0 0 9.937 8.5l1.582-6.135a.5.5 0 0 1 .963 0L14.063 8.5A2 2 0 0 0 15.5 9.937l6.135 1.581a.5.5 0 0 1 0 .964L15.5 14.063a2 2 0 0 0-1.437 1.437l-1.582 6.135a.5.5 0 0 1-.963 0z"/>
              </svg>
            <% } else if (user.is_admin) { %>
              <svg 
                xmlns="http://www.w3.org/2000/svg" 
                viewBox="0 0 24 24" 
                class="lucide lucide-shield-icon lucide-shield"
              >
                <path d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z"/>
              </svg>
            <% } %>
          </p>
        </div>
        <div class="user-action">
          <button 
            class="actions-expand"
            aria-label="Open user account's actions"     
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="lucide lucide-circle-user-round-icon lucide-circle-user-round"
            >
              <path d="M18 20a6 6 0 0 0-12 0" />
              <circle cx="12" cy="10" r="4" />
              <circle cx="12" cy="12" r="10" />
            </svg>
          </button>
          <ul class="select-action hidden">
            <li>
              <% if (user.membership_status) { %>
                <form action="/remove-member" method="post">
                  <button 
                    class="member-toggle remove" 
                    onclick="return confirm('Are you sure you want to revoke your membership ?')"
                  >
                    Remove membership
                  </button>
                </form>
              <% } else { %>
                <button class="member-toggle add">Become a member</button>
                <% } %>
            </li>
            
            <% if (!user.is_admin) { %>
              <li>
                <button class="admin-toggle">Get admin permissions</button>
              </li>
            <% } %>

            <li>
              <form action="/log-out" method="post">
                <button 
                  class="log-out-button"
                  onclick="return confirm('Are you sure you want to sign out ?')"  
                >
                  Log out
                </button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    <% } %>
  </div>
</header>
<%- include("./member-modal.ejs") %>
<%- include("./admin-modal.ejs") %>